body {
    background-color: #f5f6f8;
}

/* MAP */
#map {
    height: 500px;
    width: 100%;
}

/* DASHBOARD */
.dashboard {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

.close-btn {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
