body {
    background-color: #f5f6f8;
}

/* MAP */
#map {
    height: 500px;
    width: 100%;
}

/* DASHBOARD */
.dashboard {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}